<% provide(:title, 'Home') %>
<div class="jumbotron">
<h1>TC interest site</h1>
<p>Welcome to TafariCircle</p>
<% if !user_signed_in? %>
<%= link_to("Sign up", new_user_registration_path) %> | <%= link_to("Login", new_user_session_path) %>
<% end %>
</div>