<footer class="footer">
  <small>
    The <a href="http://www.tafaricircle.com/">TafariCircle</a>
    by <a href="http://thunderenlight.github.io/">Kilima Glenn</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
      <li><a href="http://twitter.com/tafaricircle/">Twitter News</a></li>
    </ul>
  </nav>
</footer>